$color-primary: rgb(250, 115, 209) ;
$color-primary-lighter: rgb(247, 167, 223) ;
$color-primary-lightest: rgb(240, 209, 230) ;
$color-primary-darker: rgb(160, 28, 160) ;
$color-primary-darkest: rgb(97, 0, 84) ;

$padding-1: 2px;
$padding-2:4px;
$padding-3:8px;
$padding-4:16px;
$padding-5:32px;

$margin-1: 2px;
$margin-2: 4px;
$margin-3: 8px;
$margin-4: 16px;
$margin-5: 32px;

$font-size-1: 8px;
$font-size-2: 10px;
$font-size-3: 14px;
$font-size-4: 18px;
$font-size-5: 26px;

$line-height-1: 10px;
$line-height-2: 12px;
$line-height-3: 16px;
$line-height-4: 22px;
$line-height-5: 30px;


